nav {
  background: #5c8d89;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #e3f6f5;
}

nav a.active {
  text-decoration: underline;
  opacity: 0.9;
}