nav {
  background: #5c8d89;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}